<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find abb_irb4600_support)/urdf/irb4600_40_255_macro.xacro"/>
<xacro:macro name="abb_irb4600_40_255_g" params="prefix">

  <!-- get base ABB IRB4600 model -->
  <xacro:abb_irb4600_40_255 prefix="${prefix}" />

  <!-- transmission list -->
    <transmission name="${prefix}trans_joint_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}joint_1">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_1_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="${prefix}trans_joint_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_2">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_2_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="${prefix}trans_joint_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}joint_3">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_3_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="${prefix}trans_joint_4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}joint_4">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_4_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="${prefix}trans_joint_5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_5">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_5_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="${prefix}trans_joint_6">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_6">
            <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}joint_6_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
  <!-- end of transmission list -->

  <!-- Gazebo-specific link properties -->
  <gazebo reference="${prefix}base_link">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_1">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_2">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>  
  <gazebo reference="${prefix}link_3">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_4">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_5">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${prefix}link_6">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>  

  </xacro:macro>
</robot>
